<header class="site-header">
  <%- partial('_partial/header') %>
</header>
<main class="site-content">
  <%- partial('_partial/search') %>
  <%- partial('_partial/section') %>
  <%- partial('_partial/back_top') %>  
</main>
<footer>
  <%- partial('_partial/footer') %>  
</footer>
