<footer class="footer">
	<div class="footer-inner">
		<p>
			<% if (config.author){ %>
			<%= new Date().getFullYear() %>&nbsp;&copy;&nbsp;<%= config.author %>
			<% } else { %>
			<%= new Date().getFullYear() %>&nbsp;&copy;&nbsp;<%= config.title %>
			<% } %>. Theme by <a href="https://github.com/baylin87" title="WikiPile" target="_blank">WikiPile</a>
		</p>
	</div>
	<p><%- partial('google_analytics') %></p>
</footer>
